<h1>Viewing Contact <%= @contact.name %></h1>

<h2>Email</h2>
<p><%= @contact.email %></p>


<h2>Department</h2>
<p><%= @contact.department %></p>


<h2>Category</h2>
<p><%= @contact.category %></p>


<h2>Urgent</h2>
<p><%= @contact.urgent %></p>


<h2>Message</h2>
<p><%= @contact.message %></p>